@import "../colors.rasi"

* {
    background-color:       @transparent;
    text-color:             @foreground;
	font:				 	"GoogleSans Nerd Font 12";
}

window {
    width:      			340px;
    padding:    			25px;
    border:					1px;
    border-radius:          0px;
    border-color:           @accent;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@accent;
}
