[user]
email = ishaangoel.99@gmail.com
name = Ishaan Goel

[core]
pager = delta

[delta]
plus-color = "#0DA10944"
minus-color = "#A1000044"
syntax-theme = Nord
line-numbers = true
side-by-side = true 

[interactive]
diffFilter = delta --color-only

[help]
autocorrect = 50

[alias]
	st = status -sb
	history = log --oneline --graph --decorate --all
	last = log -1 HEAD --stat
	cm = commit -m
	rv = remote -v
