[user]
    email = ishaangoel.99@gmail.com
    name = Ishaan Goel

[core]
    pager = delta
	editor = nvim

[ui "color"]
	ui = always

[color]
	ui = true

[merge]
	tool = nvim -d
    conflictstyle = diff3

[delta]
    features = line-numbers decorations
    syntax-theme = OneHalfDark
    line-numers = true

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow
    file-decoration-style = box
    hunk-header-decoration-style = cyan ul
    hunk-header-file-style = cyan
    hunk-header-line-number-style = cyan
    hunk-header-style = line-number syntax

[delta "line-numbers"]
    line-numbers= true
    line-number-minus-style = 124
    line-numbers-plus-style = 28
    line-numbers-zero-style = "#444444"
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan

[interactive]
    diffFilter = delta --color-only

[alias]
    st = status -sb
    history = log --oneline --graph --decorate --all
    last = log -1 HEAD --stat
    cm = commit -m
    c = commit
    rv = remote -v

[init]
	defaultBranch = main

[github]
    user = ishaan26
