snippet beg\ "begin{} / end{}" bA
\begin{$1}
\end{$1}
endsnippet

snippet itb\ "Bold Item" bA
\item \textbf{$1}
endsnippet

snippet eq\ "Enquotes" A
\enquote{$1}
endsnippet

snippet sec\ "Section" A
\section{$1}
endsnippet

snippet b\ "Bold" A
\textbf{$1}
endsnippet

snippet b\ "Italics" A
\textit{$1}
endsnippet
