snippet beg\ "begin{} / end{}" bA
\begin{$1}
\end{$1}
endsnippet

snippet i\ "Item" bA
\item $1
endsnippet

snippet ib\ "Bold Item" bA
\item \textbf{$1}
endsnippet

snippet eq\ "Enquotes" A
\enquote{$1}
endsnippet

snippet sec\ "Section" A
\section{$1}
endsnippet

snippet ssec\ "SubSection" A
\subsection{$1}
endsnippet

snippet sssec\ "SubSubSection" A
\subsubsection{$1}
endsnippet

snippet bf\ "Bold" A
\textbf{$1}
endsnippet

snippet it\ "Italics" A
\textit{$1}
endsnippet
