/** Configured For Applets **/

configuration {
	modi: "window,drun,run,ssh";
	show-icons: true;
	icon-theme: "Candy-icons";
	terminal: "alacritty";
	drun-match-fields: "name,generic,exec,categories";
}
