* {
    // Colors
    accent:             #68aee8;
    background:         #1c1b2255;
    background-dark:    #11112277;
    foreground:         #E4E4E4;
    on:                 #8BC34A;
    off:                #eb342e;
    transparent:        #00000000;

    // settings
	border-radius:      5px;
	padding: 10px 10px 10px 10px;
	

    // Font
	font: "Iosevka Nerd Font Propo 12";

  }
